@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is a state-of-the-art asset managing mechanism for business looking to improve their asset management systems and/or processes. All inquiries about 
    this product should be forwarded to the mastermind behind this innovation in asset management - Mark Wells. </p>
