@{
    ViewBag.Title = "Your Assets";
}

<link href="http://jquery-ui-bootstrap.github.io/jquery-ui-bootstrap/css/custom-theme/jquery-ui-1.10.3.custom.css" type="text/css" rel="stylesheet">

<h2>Your Assets</h2>

This is the Index!!!!
<p> There's a lady who's sure</p>
<p> All that glitters is gold</p>
<p> And she's buying a stairway</p>
<p> To the House of the Holy</p>