@*@model System.Web.Mvc.HandleErrorInfo*@

@{
    ViewBag.Title = "Error 404 - File not Found";
}

<h1 class="text-danger" style="text-align:center">Error 404</h1>
<hr width="75%">
<div style="text-align: center">
    <img src="~/Content/images/imgurError.gif" alt="Error Icon" style="width:250px;height:300px">
    <h4>We apologize, but the webpage you were trying to load was not found.</h4>

</div>

