@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger" style="text-align:center">Oops! Something went wrong...</h1>
<hr width="75%">
<div id="#accordion" style="text-align: center">
    <img src="~/Content/images/imgurError.gif" alt="Error Icon" style="width:250px;height:300px">
    <h4>We apologize, but an error occurred while processing your request.</h4>
    <br />
    @*<h4> Error Detail: @Model.Exception</h4>*@
</div>
